# .github/workflows/ci-dev.yml
name: CI - Run Lint & Tests

# Triggers on changes pushed to 'dev' branch
on:
  pull_request:
    branches:
      - develop

jobs:
  test-and-lint:
    environment: dev
    env:
      PIPELINE_NAME: healthcare-test-results-classifier-pipeline
      ENV: dev
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install dependencies
        run: uv sync --dev

      - name: Run Linter
        run: uvx ruff check

      - name: Run Unit Tests
        run: uv run pytest